canvas {
  display: block;
}
textarea {
  margin: 5px;
  height: 95px;
  width: 95px;
  padding: 0;
  background-color: inherit;
  text-overflow: "";

  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;

  border: none;
    overflow: hidden;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

.label {
  font-size: 18px;
  font-weight: 500;

  padding-top: 10px;
}
